@font-face {
    font-family: PressStart2P;
    src: url('assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Alphbeta;
    src: url('assets/fonts/alphbeta.ttf') format('truetype');
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
}

span {
    font-style: italic;
}

.main {
    height: 600px;
    width: 800px;
    position: relative;
}

.block {
    width: 400px;
    height: 550px;
    position: absolute;
    left: 0;
    z-index: -1;
}

#blockly {
    height: 550px;
}

.block2 {
    width: 800px;
    height: 550px;
    position: absolute;
    left: 0;
    z-index: -1;
}

#blockly2 {
    height: 550px;
}

#button-container {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
}

.game, .game canvas {
    cursor: none !important;
}